@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(49, 44, 44);
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
