@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(49, 44, 44);
}

textarea {
  border: none;
  resize: none;
  outline: none;
}

@media (max-width: 1000px) {
  section {
    justify-content: center;
  }
}
